.card-to-do-container {
    display: flex;
    flex-direction: column;
}

.card {
    width: 300px;
    height: 400px;
    max-height: 600px;
    background-color: #F9CB99;
    border-radius: 30px;
    margin: 0;
    box-shadow: 5px 5px 15px rgb(102, 102, 102);
    position: relative;
}
/* .card ul {
    flex: 1;
    overflow: auto;
} */

.layout-li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    color: #9CAFAA;
    font-family: "Kotta One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.5em;
    list-style-type: none;
    padding: 5px;
    margin-top: 1vh;
    margin-left: -0.5vw;
}

.li-text {
    text-align: left;
    flex: 1;
    word-break: break-word;
}