body {
    background-color: #D6DAC8;
}

h1 {
    font-family: "Kotta One", serif;
    font-weight: 400;
    font-style: normal;
    color: #9CAFAA;
    font-size: 96px;
    text-align: center;
}

h2 {
    font-family: "Kotta One", serif;
    font-weight: 400;
    font-style: normal;
    color: #9CAFAA;
    font-size: 60px;
}

.MuiInputBase-input {
    font-family: "Kotta One", serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: #9CAFAA !important;
}

.MuiInputLabel-root {
    font-family: "Kotta One", serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: #9CAFAA !important;
}